/* Insert your styles here */

/* Fonts used in the site */
@font-face {
	font-family: 'Plantin';
	src: url('../Fonts/Plantin/Plantin.eot');
	src: url('../Fonts/Plantin/Plantin.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Plantin/Plantin.woff2') format('woff2'), url('Fonts/Plantin/Plantin.woff') format('woff'),
		url('../Fonts/Plantin/Plantin.ttf') format('truetype'), url('Fonts/Plantin/Plantin.svg#Plantin') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Homemade Apple';
	src: url('../Fonts/HomemadeApple/HomemadeApple-Regular.eot');
	src: url('../Fonts/HomemadeApple/HomemadeApple-Regular.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/HomemadeApple/HomemadeApple-Regular.woff2') format('woff2'),
		url('../Fonts/HomemadeApple/HomemadeApple-Regular.woff') format('woff'),
		url('../Fonts/HomemadeApple/HomemadeApple-Regular.ttf') format('truetype'),
		url('../Fonts/HomemadeApple/HomemadeApple-Regular.svg#HomemadeApple-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../Fonts/Ubuntu/Ubuntu-Medium.eot');
	src: url('../Fonts/Ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
		url('Fonts/Ubuntu/Ubuntu-Medium.woff') format('woff'),
		url('../Fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype'),
		url('../Fonts/Ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Default styling for body */
:root {
	--vermilion: hsla(0, 100%, 90%, 1);
	--gunmetal: hsla(211, 44%, 22%, 1);
	--charcoal: hsla(207, 42%, 27%, 1);
	--sage: hsla(49, 23%, 72%, 1);
	--deep-champagne: hsla(41, 40%, 95%, 1);
}

body {
	font-family: Plantin;
	background-color: var(--deep-champagne);
}

/* Default styling for the header */
header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 150px;
	background: url(../Images/header.jpg) center left no-repeat;
	background-size: cover;
	vertical-align: bottom;
	font-family: 'Homemade Apple';
	text-shadow: 2px 2px 4px var(--charcoal);
	color: var(--deep-champagne);
	z-index: 1000;
}

header div.banner {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}

header span {
	white-space: nowrap;
}

/* Default styling for the footer */
footer {
	text-align: center;
	font-family: Ubuntu;
	font-size: max(1vw, 12px);
	border: 1px solid var(--gunmetal);
	padding: 10px;
}

/* Default styling for the nav bar */
nav {
	top: 0px;
	right: 0px;
	position: fixed;
	display: flex;
	align-items: flex-start;
	background-color: var(--charcoal);
	border: 1px solid var(--gunmetal);
	z-index: 1001;
}

nav a {
	text-decoration: none;
	font-family: Ubuntu;
	color: inherit;
}

/* Default styling for menu items */
nav .menu,
.hamburger {
	height: 40px;
	display: flex;
	padding-left: 5px;
	padding-right: 5px;
	color: var(--sage);
	white-space: nowrap;
}

nav div.menu:hover,
div.hamburger:hover {
	background-color: var(--sage);
	color: var(--charcoal);
	cursor: pointer;
}

nav div.hamburger {
	align-items: center;
	justify-content: flex-end;
}

nav div.hamburger div {
	margin-right: 16px;
}

/* Default styling for articles */
article {
	margin: 175px auto 30px auto;
	font-size: 18pt;
	max-width: 900px;
	display: none;
	min-height: 600px;
}

article a {
	color: var(--gunmetal);
}

article a:hover {
	color: var(--deep-champagne);
	background-color: var(--gunmetal);
	border-radius: 5px;
}

article img,
iframe {
	border: 2px solid var(--gunmetal);
	box-shadow: 4px 4px 4px var(--charcoal);
	margin: 5px;
}

article p.subtitle {
	font-size: 10pt;
	margin: 0px 15px 0px 15px;
}

article h1,
h2,
h3,
h4,
h5,
th,
caption {
	font-weight: bold;
	font-family: Ubuntu;
}

article h1 {
	font-size: 22pt;
}

article h2,
caption {
	font-size: 19pt;
}

article h3,
th {
	font-size: 16pt;
}

article th {
	background-color: var(--sage);
	text-align: left;
}

article tr {
	font-size: 18px;
}

article tr:nth-child(odd) {
	background-color: var(--vermilion);
}

article table {
	width: 100%;
}

article iframe.map {
	width: 100%;
	height: 350px;
	width: calc(100% - 20px);
	width: calc(100% - 20px);
}

/* Progress bar */
header div.progress {
	background: linear-gradient(to right, var(--gunmetal) var(--scroll), var(--sage) 0);
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height: 5px;
	top: 150px;
	left: 0px;
	right: 0px;
}

/* Images */
article div.rightfloatbox {
	float: right;
	width: min(40vw, 225px);
}

article div.rightfloatbox img {
	width: calc(100% - 20px);
}

article p.rightalign {
	text-align: right;
}

article p.centeralign {
	text-align: center;
}

p.handwriting {
	font-family: 'Homemade Apple';
	font-size: 16pt;
}

/* Parallax elements */
div.parallax {
	/* Set a specific height */
	height: 250px;
	width: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 10px 10px var(--sage) inset;
	border-radius: 20px;
}

div.parallax1 {
	background-image: url("../Images/Parallax/bg1.jpg");
}

div.parallax2 {
	background-image: url("../Images/Parallax/bg2.jpg");
}

div.parallax3 {
	background-image: url("../Images/Parallax/bg3.jpg");
}

div.parallax4 {
	background-image: url("../Images/Parallax/bg4.jpg");
}

div.parallax5 {
	background-image: url("../Images/Parallax/bg5.jpg");
}

div.parallax6 {
	background-image: url("../Images/Parallax/bg6.jpg");
}

div.parallax7 {
	background-image: url("../Images/Parallax/bg7.jpg");
}

div.parallax8 {
	background-image: url("../Images/Parallax/bg8.jpg");
}

div.parallax9 {
	background-image: url("../Images/Parallax/bg9.jpg");
}

div.parallax10 {
	background-image: url("../Images/Parallax/bg10.jpg");
}

div.parallax11 {
	background-image: url("../Images/Parallax/bg11.jpg");
}

div.parallax12 {
	background-image: url("../Images/Parallax/bg12.jpg");
}

div.parallax13 {
	background-image: url("../Images/Parallax/bg13.jpg");
}

div.parallax14 {
	background-image: url("../Images/Parallax/bg14.jpg");
}

div.parallax15 {
	background-image: url("../Images/Parallax/bg15.jpg");
}

/* Responsive behaviour for mobile screens */
@media only screen and (max-width: 900px) {
	nav {
		flex-direction: column;
		justify-content: flex-end;
	}

	header {
		font-size: 13pt;
	}

	nav .menu {
		border-top: 1px;
		border-bottom: 0px;
		border-right: 0px;
		border-left: 0px;
		border-color: var(--gunmetal);
		border-style: solid;
	}

	/* Hide mobile menu */
	nav .menu_hide {
		display: none;
	}

	nav .hamburger_hide {
		width: 50px;
	}

	/* Display mobile menu */
	nav .menu_show,
	.hamburger_show {
		width: 200px;
	}

	nav .menu_show {
		align-items: center;
		justify-content: flex-start;
	}

	.divider {
		display: none;
	}
}

/* Responsive behaviour for desktop and tablet screens */
@media only screen and (min-width: 900px) {
	nav {
		width: -webkit-calc(100% - 2px);
		width: -moz-calc(100% - 2px);
		width: calc(100% - 2px);
		left: 0px;
		flex-direction: row;
		justify-content: center;
	}

	header {
		font-size: 22pt;
	}

	nav .menu:not(:first-child) {
		border-top: 0px;
		border-bottom: 0px;
		border-right: 0px;
		border-left: 1px;
		border-color: var(--gunmetal);
		border-style: solid;
	}

	nav .hamburger {
		display: none;
	}

	nav .menu {
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;
		max-width: 200px;
		min-width: 100px;
	}

	.break {
		display: none;
	}
}


/* Form */
form {
	background: var(--sage);
	border: 1px solid var(--gunmetal);
	margin-top: 2rem;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	overflow: hidden
}

form * {
	box-sizing: border-box;
}

form div:first-child {
	width: 110px
}

form input,
form submit,
form label {
	height: 35px
}

form textarea {
	height: 100px
}

form input:not([type="checkbox"]):not([type="submit"]),
form textarea,
form div,
form div:first-child label {
	width: calc(100% - 10px);
	float: left
}

form div:last-child {
	float: right;
	width: calc(100% - 110px)
}

form input,
form textarea,
form submit {
	background-color: var(--deep-champagne);
	border: 1px solid var(--gunmetal)
}

form div:first-child label {
	text-align: right
}

form input,
form textarea,
form submit,
form label {
	float: left;
	margin: 5px;
	vertical-align: middle
}

form input,
form submit,
form textarea {
	padding: 10px;
	font-family: Ubuntu;
	font-size: 12px
}

form input:focus:not([type="checkbox"]),
form textarea:focus,
form submit:focus {
	outline: 3px solid var(--gunmetal)
}

form input[type="checkbox"] {
	vertical-align: middle
}

form div span {
	font-size: 18px;
	vertical-align: middle
}

#contactFormSuccess {
	display: none;
}

.lettercontents {
	border: 1px solid var(--charcoal);
	padding: 2vw;
	box-shadow: 4px 4px 4px var(--charcoal);
	padding: 2vw;
	height: 600px;
	display: none;
	background-color: var(--sage);
}

.lettersubcontents {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 2vw;
}

#envelope {
	width: min(90%, 600px);
	min-width: min(90%, 600px);
	perspective: 1000px;
	height: 500px;
	min-height: calc(50vw * 0.54);
	position: absolute;
	top: calc(((100vh - calc(50vw * 0.54)) / 2) + 50px);
	left: calc((100vw - min(90%, 600px)) / 2);
	z-index: 10;
	display: none;
}

#envelopeinner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

#envelopefront,
#envelopeback {
	position: absolute;
	width: 100%;
	height: 100%;
	/* Safari */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#envelopeback {
	transform: rotateY(180deg);
}

.envelopeimg {
	width: 100%;
	box-shadow: 4px 4px 4px var(--charcoal);
}